.vscode/**
.github/**
node_modules
!node_modules/arch
!node_modules/clipboardy
!node_modules/cross-spawn
!node_modules/execa
!node_modules/get-stream
!node_modules/is-stream
!node_modules/isexe
!node_modules/lru-cache
!node_modules/nice-try
!node_modules/npm-run-path
!node_modules/p-finally
!node_modules/path-key
!node_modules/pseudomap
!node_modules/shebang-command
!node_modules/shebang-regex
!node_modules/signal-exit
!node_modules/strip-eof
!node_modules/semver
!node_modules/which
!node_modules/yallist
out/**
test/**
src/**
promo/**
preview/**
svg-generated/**
**/*.map
.gitignore
tsconfig.json
.jsbeautifyrc
.editorconfig
tslint.json
media/**
webpack.config.js
