.vscode/**
.vscode-test/**
node_modules
out/**
test/**
src/**
promo/**
preview/**
svg-generated/**
**/*.map
.gitignore
tsconfig.json
.jsbeautifyrc
.editorconfig
tslint.json
media/**
webpack.config.js
